.button:hover {
  color: #fff;
  background: #396df2;
  transition: ease-in-out 2s;
}

.logo {
  animation-name: logo-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes logo-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* mobile menu */
.mobile-menu {
  background: rgba(57, 109, 242, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* modal wrapper */
.modal-wrapper {
  background: rgba(193, 199, 208, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /*position: absolute;
  top: 0;
  left: 0;*/
  height: auto;
  width: 100vw;
  padding: 2rem 1rem;
}

.modal-content {
  height: 100%;
  width: 100%;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  display: flex;
}

.image-wrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 5rem 9rem;
  }

  .modal-content {
    padding: 24px;
  }

  .image-wrapper {
    height: 568px;
  }

  .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .text-wrapper {
    width: 60%;
    margin-bottom: 4rem;
  }

  .modal__bottom-section {
    margin-top: 56px;
  }

  .modal__bottom-left-section {
    margin-left: 24px;
  }

  .modal-buttons {
    margin-top: 45px;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }
}
