.button:hover {
  color: #fff;
  background: #396df2;
  transition: ease-in-out 2s;
}

.logo {
  animation-name: logo-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes logo-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
